* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #F5F5F5;
}

header {
    background: #fff;
    position: relative;
}

.container {
    max-width: 1440px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
}

.nav {
    width: 1440px;
    display: flex;
    background: #fff;
    justify-content: space-between;
    z-index: 1;
    margin: auto;
    position: fixed;
    padding: 20px 100px 20px 54px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 34px;
    font-weight: 700;
    line-height: 41.45px;
    text-align: left;
    color: #000;
    gap: 5px;

}

.nav ul {
    display: flex;
    align-items: center;
    gap: 75px;
    list-style: none;
}

nav ul li {
    transition: all 0.3s;
}

.nav ul li a:hover {
    color: #B88E2F;
}

.nav ul li a {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    color: #000;
    list-style: none;
    text-decoration: none;
    transition: all 0.5s;
}

.nav .butons {
    width: 247px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;



}

.nav .butons button {
    color: transparent;
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 12px 13px 10px 13px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.7s;
}

.nav .butons button:hover {
    background: #F2F2F2;
    border: 1px solid #f1f1f1;
    border-radius: 35%;
    transform: scale(1.1);
}
nav{
    width: 1440px;
    margin: auto;
    padding-top: 100px;
    background: #F9F1E7;
}
nav ul{
    display: flex;
    padding-left: 99px;
    padding-top: 38px ;
    padding-bottom: 38px;
    align-items: center;
    gap: 24px;
}
nav ul li{

    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: 'Poppins';
    color: #9F9F9F;

}
nav ul li .nava{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 14px;
}
nav ul li a span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: 'Poppins';
    color: #9F9F9F;
    display: flex;
    align-items: center;
    transition: all 0.7s;
}
.asgaard{
    border-left: 2px solid #9F9F9F;
    padding-left: 34px;
    color: #000;
    transition: all 0.7s;
}
.asgaard .navs {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: 'Poppins';

}
nav ul li a span:hover{
    color: #B88E2F;
}
.asgaard .navs:hover{
    color: #B88E2F;
}
