* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #F5F5F5;
}

button {
    cursor: pointer;
}

header {
    background: #fff;
    position: relative;
}

.container {
    max-width: 1440px;
    min-width: 1440px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
}

.nav {
    width: 1440px;
    display: flex;
    background: #fff;
    justify-content: space-between;
    z-index: 1;
    margin: auto;
    position: fixed;
    padding: 20px 100px 20px 54px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 34px;
    font-weight: 700;
    line-height: 41.45px;
    text-align: left;
    color: #000;
    gap: 5px;

}

.nav ul {
    display: flex;
    align-items: center;
    gap: 75px;
    list-style: none;
}

nav ul li {
    transition: all 0.3s;
}

.nav ul li a:hover {
    color: #B88E2F;
}

.nav ul li a {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    color: #000;
    list-style: none;
    text-decoration: none;
    transition: all 0.5s;
}

.nav .butons {
    width: 247px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;



}

.nav .butons button {
    color: transparent;
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 12px 13px 10px 13px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.7s;
}

.nav .butons button:hover {
    background: #F2F2F2;
    border: 1px solid #f1f1f1;
    border-radius: 35%;
    transform: scale(1.2);
}

nav {
    width: 1440px;
    margin: auto;
    padding-top: 100px;
    background: #F9F1E7;
}

nav ul {
    display: flex;
    padding-left: 99px;
    padding-top: 38px;
    padding-bottom: 38px;
    align-items: center;
    gap: 24px;
}

nav ul li {

    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: 'Poppins';
    color: #9F9F9F;

}

nav ul li .nava {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 14px;
}

nav ul li a span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: 'Poppins';
    color: #9F9F9F;
    display: flex;
    align-items: center;
    transition: all 0.7s;
}

.asgaard {
    border-left: 2px solid #9F9F9F;
    padding-left: 34px;
    color: #000;
    transition: all 0.7s;
}

.asgaard .navs {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: 'Poppins';

}

nav ul li a span:hover {
    color: #B88E2F;
}

.asgaard .navs:hover {
    color: #B88E2F;
}

section {
    max-width: 1440px;
    width: 100%;
    background: #fff;
    margin: auto;
}

.part-1 {
    padding-top: 35px;
    width: 1241px;
    margin: auto;
    display: flex;
}

.part-1-images {
    display: flex;
    width: 553px;
    gap: 31px;
}

aside {
    width: 86px;
    gap: 21px;
}

aside button {
    margin-bottom: 32px;
    transition: all 0.7s;
    background: transparent;
    border: none;
    padding: 5px 5px 1 5px;
    border: none;
}

aside button:hover {
    transform: scale(1.3);
    /* padding: 4px 4px 02 4px; */
    /* border-radius: 9px; */
    /* border: 1px solid #B88E2F; */
}

.part-hero-img {
    width: 423px;
    height: 500px;
    background: #F9F1E7;
    border-radius: 10px;
    position: relative;
}

.part-hero-img img {
    position: absolute;
    top: 78px;
    left: -35px;

}

.part-1-info {
    width: 607px;
    margin-left: 105px;
}

.part-1 .part-1-info h1 {
    font-size: 42px;
    font-weight: 400;
    line-height: 63px;
    text-align: left;
    font-family: 'Poppins';
    color: #000;

}

.part-1 .part-1-info h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    font-family: 'Poppins';
    color: #9F9F9F;
}

.part-1 .part-1-info .details {
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.part-1 .part-1-info .details .star {
    display: flex;
    width: 124px;
    justify-content: space-around;

}

.part-1 .part-1-info .details .span {
    padding-left: 18px;
    border-left: 1px solid #9F9F9F;

}

.part-1 .part-1-info .details .span span {
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    font-family: 'Poppins';
    color: #9F9F9F;
}

.part-1 .part-1-info p {
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    font-family: 'Poppins';
    margin-top: 18px;
    color: #000;
    width: 424px;
}

.part-1 .part-1-info .size {
    margin-top: 22px;
}

.part-1 .part-1-info .size h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    font-family: 'Poppins';
    color: #9F9F9F;

}

.part-1 .part-1-info .sizes {
    width: 123px;
    display: flex;
    justify-content: space-between;
}

.part-1 .part-1-info .size button {
    padding: 5px 12px;
    background: #F9F1E7;
    border-radius: 5px;
    border: none;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    font-family: 'Poppins';
    margin-top: 12px;
    transition: all 0.7s;
}

.part-1 .part-1-info .size button:nth-child(2) {
    padding: 5px 8px;
    background: #F9F1E7;
}

.part-1 .part-1-info .size button:nth-child(3) {
    padding: 5px 7px;
    background: #F9F1E7;
}

.part-1 .part-1-info .size button:hover {
    background: #B88E2F;
    border: none;
    color: #fff;
    transform: scale(1.1);
}

.part-1 .part-1-info .color {
    margin-top: 18px;
}

.part-1 .part-1-info .color label {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #9F9F9F;
    font-family: 'Poppins';
}

.part-1 .part-1-info .color .colors {
    display: flex;
    width: 123px;
    justify-content: space-between;
    margin-top: 12px;
}

.part-1 .part-1-info .color .colors button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #816DFA;
    border: transparent;
    transition: all 0.5s;
}

.part-1 .part-1-info .color .colors button:nth-child(2) {
    background: #000;
}

.part-1 .part-1-info .color .colors button:nth-child(3) {
    background: #B88E2F;
}

.part-1 .part-1-info .color .colors button:hover {
    transform: scale(1.2);
    border: 1px solid #000;
}

.part-1-buttons {
    margin-top: 32px;
    width: 606px;
    display: flex;
    justify-content: space-between;
    padding-right: 24px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 60px;
}

.part-1-buttons button {
    padding: 17px 48px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    font-family: 'Poppins';
    border: 1px solid #000;
    background: transparent;
    border-radius: 15px;
    color: #000000;
    transition: all 0.7s;
}

.part-1-buttons button:nth-child(1) {
    padding: 20px 15px;
    width: 123px;
    display: flex;
    justify-content: space-between;
}

.part-1-buttons button:hover {
    border-color: #9F9F9F;
    transform: scale(1.1);
}

.part-1-foot{
    width: 297px;
    margin-top: 41px;
    margin-bottom: 49px;
    display: flex;
}

.part-1-foot ul li {
    width: 85px;
    display: flex;
    list-style: none;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #9F9F9F;
    cursor: pointer;
    margin-bottom: 12px;
}
.part-1-foot ul li:nth-child(1) span{
    padding-left: 61px;
}
.part-1-foot ul li:nth-child(2) span{
    padding-left: 16px;
}
.part-1-foot ul li:nth-child(3) span{
    padding-left: 52px;
}
.part-1-foot ul li:nth-child(4) span{
    padding-left: 44px;
}
.right{
    width: 200px;
    margin-left: 20px;
}
.right a{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #9F9F9F;
    display: block;
    text-decoration: none;
    margin-bottom: 12px;
    transition: all 0.7s;
}
.right a:nth-child(3){
    width: 200px;
}
.right a:hover{
    color: #B88E2F;
}
.right .social-links{
    display: flex;
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right .social-links button {
    background: transparent;
    border: none;
    transition: all 0.7s;
}
.right .social-links button:hover{
    transform:scale(1.3);

}